<%- include('partials/header.ejs', {path: '', pageTitle: pageTitle}) %>

<main>
    <div class="message-wrapper">
        <h1>Page Not Found</h1>
    </div>

</main>


<%- include('partials/footer.ejs') %>